# ========================
# Visual Studio / IDE files
# ========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/

# ========================
# Build results
# ========================
bin/
obj/
out/
*.dll
*.exe
*.log

# ========================
# NuGet packages
# ========================
*.nupkg
*.snupkg
packages/

# ========================
# ASP.NET Core / Web
# ========================
wwwroot/lib/

# ========================
# EF Core Migrations (optional)
# ========================
Migrations/

# ========================
# Secrets / sensitive files
# ========================
# Ignore all appsettings.json files
# Ignore all appsettings files in any project
**/appsettings.json
**/appsettings.Development.json




appsettings.*.json
secrets.json
*.publishsettings

# ========================
# Publish profiles (may contain sensitive info)
# ========================
Properties/PublishProfiles/

/Stockify.API/appsettings.json
/Stockify.Web/appsettings.json
/Stockify.Web/appsettings.Development.json
/Stockify.API/appsettings.Development.json
