@inherits LayoutComponentBase
@layout AccountLayout



<div>
    <h3>Accountinstellingen</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
